<title>@ViewData["Title"] - Sensor Chart</title>  
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>  
  
<div id="chart_div"></div>
<div id="chart1_div"></div>
<div id="chart2_div"></div>  
<div id="chart3_div"></div>  
<div id="chart4_div"></div> 
<script type="text/javascript">  
  
    

    google.charts.load('current', {
        packages: ['corechart', 'bar']
    });

    google.charts.setOnLoadCallback(LoadDataTemperatureSensor);
    function LoadDataTemperatureSensor() {
        $.ajax({

            url: 'SensorChart/SensorChartTemperatureSensor',
            dataType: "json",
            type: "GET",
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                toastr.error(err.message);
            },
            success: function (data) {
                SensorChartTemperatureSensor(data);
                return false;
            }
        });
        return false;
    }
  
    
    

    google.charts.setOnLoadCallback(LoadDataVoltageSensor);
    function LoadDataVoltageSensor() {
        $.ajax({

            url: 'SensorChart/SensorChartVoltageSensor',
            dataType: "json",
            type: "GET",
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                toastr.error(err.message);
            },
            success: function (data) {
                SensorChartVoltageSensor(data);
                return false;
            }
        });
        return false;
    }




    


    google.charts.setOnLoadCallback(LoadDataHumiditySensor);
    function LoadDataHumiditySensor() {
        $.ajax({

            url: 'SensorChart/SensorChartHumiditySensor',
            dataType: "json",
            type: "GET",
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                toastr.error(err.message);
            },
            success: function (data) {
                SensorChartHumiditySensor(data);
                return false;
            }
        });
        return false;
    }




    google.charts.setOnLoadCallback(LoadDataPowerSensor);
    function LoadDataPowerSensor() {
        $.ajax({  

            url: 'SensorChart/SensorChartPowerSensor',
            dataType: "json",  
            type: "GET",  
            error: function(xhr, status, error) {  
                var err = eval("(" + xhr.responseText + ")");  
                toastr.error(err.message);  
            },  
            success: function(data) {  
                SensorChartPowerSensor(data);
                return false;  
            }  
        });  
        return false;  
    }  
    

    function SensorChartTemperatureSensor(data) {
        var dataArray = [
            ['Date', 'Value']
        ];
        $.each(data, function (i, item) {
            dataArray.push([item.date, item.value]);
        });
        var data = google.visualization.arrayToDataTable(dataArray);
        var options = {
            title: 'TemperatureSensor ',
            chartArea: {
                width: '90%'
            },
            colors: ['#ff0000'],
            height: 300,
            hAxis: {
                title: 'Date',
                minValue: 0
            },
            vAxis: {
                title: 'Value [C]'
            }
        };
        var chart = new google.visualization.LineChart(document.getElementById('chart1_div'));

        chart.draw(data, options);
        return false;
    }

    function SensorChartVoltageSensor(data) {
        var dataArray = [
            ['Date', 'Value']
        ];
        $.each(data, function (i, item) {
            dataArray.push([item.date, item.value]);
        });
        var data = google.visualization.arrayToDataTable(dataArray);
        var options = {
            title: 'VoltageSensor ',
            chartArea: {
                width: '90%'
            },
            colors: ['#00ff00'],
            height: 300,
            hAxis: {
                title: 'Date',
                minValue: 0
            },
            vAxis: {
                title: 'Value [V]'
            }
        };
        var chart = new google.visualization.LineChart(document.getElementById('chart2_div'));

        chart.draw(data, options);
        return false;
    }

    function SensorChartHumiditySensor(data) {
        var dataArray = [
            ['Date', 'Value']
        ];
        $.each(data, function (i, item) {
            dataArray.push([item.date, item.value]);
        });
        var data = google.visualization.arrayToDataTable(dataArray);
        var options = {
            title: 'HumiditySensor ',
            chartArea: {
                width: '90%'
            },
            colors: ['#0000ff'],
            height: 300,
            hAxis: {
                title: 'Date',
                minValue: 0
            },
            vAxis: {
                title: 'Value [%]'
            }
        };
        var chart = new google.visualization.LineChart(document.getElementById('chart3_div'));

        chart.draw(data, options);
        return false;
    }
  
    function SensorChartPowerSensor(data) {
        var dataArray = [  
            ['Date', 'Value']  
        ];  
        $.each(data, function(i, item) {  
            dataArray.push([item.date, item.value]);  
        });  
        var data = google.visualization.arrayToDataTable(dataArray);  
        var options = {  
            title: 'PowerSensor ',
            chartArea: {  
                width: '90%'  
            },  
            colors: [ '#00ffff'],
            height: 300,
            hAxis: {  
                title: 'Date',
                minValue: 0  
            },  
            vAxis: {  
                title: 'Value [W]'
            }  
        };  
        var chart = new google.visualization.LineChart(document.getElementById('chart4_div'));  

        chart.draw(data, options);  
        return false;  
    }  



</script>