<title>@ViewData["Title"] - Sensor Chart</title>  
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>  
  
<div id="chart_div"></div>  
<div id="chart_div_2"></div>  
<div id="chart_div_3"></div>  
<div id="chart_div_4"></div> 
<script type="text/javascript">  
  
    google.charts.load('current', {  
        packages: ['corechart', 'bar']  
    });  
    google.charts.setOnLoadCallback(LoadDataSampleSensor1);

    function LoadDataSampleSensor1() {
        $.ajax({  

            url: 'SensorChart/SensorChartSampleSensor1',
            dataType: "json",  
            type: "GET",  
            error: function(xhr, status, error) {  
                var err = eval("(" + xhr.responseText + ")");  
                toastr.error(err.message);  
            },  
            success: function(data) {  
                SensorChartSampleSensor1(data);
                return false;  
            }  
        });  
        return false;  
    }  
    


  
    function SensorChartSampleSensor1(data) {
        var dataArray = [  
            ['Date', 'Value']  
        ];  
        $.each(data, function(i, item) {  
            dataArray.push([item.date, item.value]);  
        });  
        var data = google.visualization.arrayToDataTable(dataArray);  
        var options = {  
            title: 'Sensor SampleSensor1 ',
            chartArea: {  
                width: '100%'  
            },  
            colors: [ '#7b1fa2'],  
            hAxis: {  
                title: 'Date',  
                minValue: 0  
            },  
            vAxis: {  
                title: 'Value [ ]'  
            }  
        };  
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));  

        chart.draw(data, options);  
        return false;  
    }  
    


</script>